* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

html,
body {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-size: 4vw;
  font-size: clamp(1.1rem, 4vw, 1.3rem);
  background: radial-gradient(#ec2a2a, #461212);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Great Vibes", cursive;
  font-size: 6vw;
  font-size: clamp(1.5rem, 12vw, 4rem);
}
p {
  margin: 20px 0;
  max-width: 600px;
}

input {
  border-radius: 10px;
  padding: 10px;
  font-size: clamp(1rem, 4vw, 4rem);
  text-align: center;
}
